@{
    ViewData["Title"] = "لیست کتاب ها";
}

<style>
    main {
        font-family: "Vazir", sans-serif;
        background-color: #f4f4f4;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    table {
        width: min(55rem, 100%);
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-collapse: collapse;
        overflow: hidden;
        direction: rtl;
    }

    thead {
        background-color: #DC5F00;
        color: white;
        text-align: center;
    }

    th, td {
        padding: 1rem;
        border: 1px solid #ddd;
        direction: rtl !important;
    }

    tbody tr:hover {
        background-color: #f1f1f1;
    }

    th {
        font-weight: bold;
        font-size: 1.2rem;
        white-space: nowrap;
    }

    td {
        font-size: 1rem;
        color: #333;
    }

    .title-list {
        font-family: "Lalezar", sans-serif;
        font-size: 3rem;
        margin-bottom: .5rem;
        margin-top: 2rem;
    }

    .book-title {
        white-space: nowrap;
    }

    .cover-image {
        display: block;
        width: 60px;
        height: auto;
        border-radius: 3px;
        margin-inline: auto;
    }

    .add-book-row {
        background-color: #f0f0f0 !important
    }

    .add-book-btn {
        text-align: center;
        padding: .5rem;
        cursor: pointer;
    }

        .add-book-btn:hover {
            background-color: #e0e0e0;
        }
</style>

<main>
    <h2 class="title-list">لیست کتاب ها</h2>

    <table>
        <thead>
            <tr>
                <th>عنوان</th>
                <th>نویسنده</th>
                <th>توضیحات</th>
                <th>تصویر جلد</th>
                <th>تعداد موجودی کتاب</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr onclick="window.location.href='@Url.Action("ShowBook", "Books", new { id = book.Id })'" style="cursor: pointer;">
                    <td class="book-title">@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Description</td>
                    <td>
                        @if (!string.IsNullOrEmpty(book.CoverPath))
                        {
                            <img src="@book.CoverPath" alt="@book.Title" class="cover-image" />
                        }
                        else
                        {
                            <span>تصویری یافت نشد!</span>
                        }
                    </td>
                    <td>@book.TotalQuantity</td>
                </tr>
            }
            @if (ViewBag.UserRole == "BookKeeper" || ViewBag.UserRole == "Admin")
            {
                <tr onclick="window.location.href='@Url.Action("AddBook", "Books")'" class="add-book-row">
                    <td class="add-book-btn" colspan="5" style="text-align: center;">
                        <a>افزودن کتاب جدید</a>
                </tr>
            }
            <tr style=" background-color: #818185;">
                <td style="padding: 0.25rem" colspan="5"> </td>
            </tr>
        </tbody>
    </table>
</main>

@{
    var alertMessage = TempData["AlertMessage"] as string;
}