<main>
    <h1 class="title-list">پروفایل کاربر: @Model.Name @Model.LastName</h1>

    <section class="user-details">
        <h2>اطلاعات شخصی</h2>
        <div class="profile-info">
            <div class="profile-picture">
                <img src="@ViewBag.UserPfpPath" alt="عکس کاربر" />
            </div>
            <div class="personal-info">
                <p><strong>نام:</strong> @Model.Name @Model.LastName</p>
                <p><strong>ایمیل:</strong> @Model.Email</p>
                <p><strong>کد ملی:</strong> @Model.NationalId</p>
                <p><strong>شماره تماس:</strong> @Model.PhoneNumber</p>
                <p><strong>نقش:</strong> @Model.Role</p>
            </div>
        </div>
    </section>

    @if (Model.Transactions != null && Model.Transactions.Count>0)
    {
        <section class="user-details">
            <h2>تاریخچه تراکنش‌ها</h2>
            <table>
                <thead>
                    <tr>
                        <th>شماره تراکنش</th>
                        <th>تاریخ نهایی سازی</th>
                        <th>جزئیات کتاب</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transaction in Model.Transactions)
                    {
                        <tr>
                            <td>@transaction.Id</td>
                            <td>@(transaction.RequestDate == default(DateTime) ? "-" : transaction.RequestDate.ToString("yyyy/MM/dd"))</td>
                            <td>
                                <ul>
                                    @foreach (var item in transaction.TransactionItems)
                                    {
                                        <li>@item.Book.Title - تعداد: @item.Quantity</li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    }
    else
    {
        <p>تراکنشی موجود نیست.</p>
    }
</main>

<style>
    main {
        font-family: "Vazir", sans-serif;
        background-color: #f4f4f4;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem;
    }

    .user-details {
        width: min(55rem, 100%);
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 1rem;
        padding: 1rem;
        font-size: 1rem;
        direction: rtl;
    }

    .profile-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile-picture img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 1rem;
        border: 3px solid #DC5F00;
    }

    .personal-info p {
        font-size: 1rem;
        margin: 0.5rem 0;
        color: #333;
    }

    table {
        width: 100%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-collapse: collapse;
        overflow: hidden;
        direction: rtl;
    }

    thead {
        background-color: #DC5F00;
        color: white;
        text-align: center;
    }

    th, td {
        padding: 1rem;
        border: 1px solid #ddd;
        text-align: center;
    }

    tbody tr:hover {
        background-color: #f1f1f1;
    }

    th {
        font-weight: bold;
        font-size: 1.2rem;
    }

    td {
        font-size
